.editor {
  &-container {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    background-color: hsl(225, 6%, 25%);
    transition: all 1s ease-in-out;
    .code-mirror-wraper {
      flex-grow: 1;
      border-bottom-right-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
      overflow: hidden;
      .CodeMirror {
        height: 100% !important;
        font-size: 1.7rem;
      }
    }
  }
  &-title {
    display: flex;
    justify-content: space-between;
    background-color: hsl(225, 6%, 13%);
    color: #fff;
    font-size: 2.5rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    .expand-btn {
      margin-left: 0.5rem;
      background: none;
      border: none;
      color: #fff;
      cursor: pointer;
    }
  }
}
.collapsed {
  flex-grow: 0;
  .CodeMirror-scroll {
    position: absolute;
    overflow: hidden;
  }
}
.cm-s-default {
  background-color: #36373b !important;
  color: white !important;
}
