*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.top-pane {
  background-color: hsl(225, 6%, 25%);
}
.pane {
  height: 50vh;
  display: flex;
}
.editor-container {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: hsl(225, 6%, 25%);
}
.editor-title {
  display: flex;
  justify-content: space-between;
  background-color: hsl(225, 6%, 13%);
  color: #fff;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
.CodeMirror {
  height: 100% !important;
}
.code-mirror-wraper {
  flex-grow: 1;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  overflow: hidden;
}

.collapsed {
  flex-grow: 0;
}
.collapsed .CodeMirror-scroll {
  position: absolute;
  overflow: hidden;
}
.expand-btn {
  margin-left: 0.5rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}
